.input-control {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#display-name {
    min-width: 80px;
}

.input-control Button {
    width: 20%;
}

.input-control EnumField {
    width: 20%;
}

#down {
    width: 10%;
}
